.App {
    text-align: center;
}

.appContainer {
    display: flex;
    width: 100%;
   /*  height: 910px; */
    flex-direction: column;
    justify-content: space-between;
}

.appHeader {
    background-color: #2ce4ea;
    height: 150px;
    padding: 20px;
    color: white;
    justify-content: space-around;
    display: flex;
    text-transform: uppercase;
}

.center-align {
    text-align: center;
}

footer {
    height: 30px;
    background: #2ce4ea;
}

button {
    cursor: pointer;
}
